<?xml version='1.0' encoding='utf-8'?>
<widget id="lv.rafael.falacias" version="1.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Falácias Falaciosas</name>
    <description>
        Uma lista de falácias para você consultar e apresentar a inimigos que usam falácias contra você.
    </description>
    <author email="r@fael.lv" href="https://rafael.lv">
        RafaelLVX
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="HeaderColor" value="#183445" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="28" />
        <preference name="ShowTitle" value="true" />
        <splash density="hdpi" src="res/screen/android/RafaelLVX-splashscreen.png" />
        <splash density="ldpi" src="res/screen/android/RafaelLVX-splashscreen.png" />
        <splash density="mdpi" src="res/screen/android/RafaelLVX-splashscreen.png" />
        <splash density="xhdpi" src="res/screen/android/RafaelLVX-splashscreen.png" />
        <splash density="land-hdpi" src="res/screen/android/RafaelLVX-splashscreen-ls.png" />
        <splash density="land-ldpi" src="res/screen/android/RafaelLVX-splashscreen-ls.png" />
        <splash density="land-mdpi" src="res/screen/android/RafaelLVX-splashscreen-ls.png" />
        <splash density="land-xhdpi" src="res/screen/android/RafaelLVX-splashscreen-ls.png" />
        <splash density="port-hdpi" src="res/screen/android/RafaelLVX-splashscreen.png" />
        <splash density="port-ldpi" src="res/screen/android/RafaelLVX-splashscreen.png" />
        <splash density="port-mdpi" src="res/screen/android/RafaelLVX-splashscreen.png" />
        <splash density="port-xhdpi" src="res/screen/android/RafaelLVX-splashscreen.png" />
        <icon background="res/icon/android/xxxhdpi-background.png" density="ldpi" foreground="res/icon/android/xxxhdpi-foreground.png" />
        <icon background="res/icon/android/xxxhdpi-background.png" density="mdpi" foreground="res/icon/android/xxxhdpi-foreground.png" />
        <icon background="res/icon/android/xxxhdpi-background.png" density="hdpi" foreground="res/icon/android/xxxhdpi-foreground.png" />
        <icon background="res/icon/android/xxxhdpi-background.png" density="xhdpi" foreground="res/icon/android/xxxhdpi-foreground.png" />
        <icon background="res/icon/android/xxxhdpi-background.png" density="xxhdpi" foreground="res/icon/android/xxxhdpi-foreground.png" />
        <icon background="res/icon/android/xxxhdpi-background.png" density="xxxhdpi" foreground="res/icon/android/xxxhdpi-foreground.png" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="SplashMaintainAspectRatio" value="true" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreenBackgroundColor" value="white" />
        <preference name="SplashScreenWidth" value="512" />
        <preference name="SplashScreenHeight" value="512" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-headercolor" spec="^1.0.0" />
    <engine name="browser" spec="^5.0.4" />
</widget>
